.experience {
  max-width: 800px;
  margin: auto;
  line-height: 1.4rem;
}

.experience ul {
  list-style: none;
  padding-top: 100px;
  font-weight: 600;
  
}

.experience li {
  margin-bottom: 1rem;
}
